[submodule "aio"]
	path = lib/aio
	url = git@github.com:skeeto/emacs-aio.git
	ignore = untracked
[submodule "async"]
	path = lib/async
	url = git@github.com:jwiegley/emacs-async.git
	ignore = untracked
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
	ignore = untracked
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
	ignore = untracked
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
	ignore = untracked
[submodule "company"]
	path = lib/company
	url = git@github.com:company-mode/company-mode.git
	ignore = untracked
[submodule "company-inf-ruby"]
	path = lib/company-inf-ruby
	url = git@github.com:company-mode/company-inf-ruby.git
	ignore = untracked
[submodule "compat"]
	path = lib/compat
	url = https://github.com/emacs-compat/compat
	ignore = untracked
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
	ignore = untracked
[submodule "docker"]
	path = lib/docker
	url = git@github.com:Silex/docker.el.git
	ignore = untracked
[submodule "dockerfile-mode"]
	path = lib/dockerfile-mode
	url = git@github.com:spotify/dockerfile-mode.git
	ignore = untracked
[submodule "elfeed"]
	path = lib/elfeed
	url = git@github.com:skeeto/elfeed.git
	ignore = untracked
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
	ignore = untracked
[submodule "enh-ruby-mode"]
	path = lib/enh-ruby-mode
	url = git@github.com:zenspider/enhanced-ruby-mode.git
	ignore = untracked
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
	ignore = untracked
[submodule "f"]
	path = lib/f
	url = git@github.com:rejeep/f.el.git
	ignore = untracked
[submodule "findr"]
	path = lib/findr
	url = git@github.com:emacsorphanage/findr.git
	ignore = untracked
[submodule "helm"]
	path = lib/helm
	url = git@github.com:emacs-helm/helm.git
	ignore = untracked
[submodule "helm-company"]
	path = lib/helm-company
	url = git@github.com:Sodel-the-Vociferous/helm-company.git
	ignore = untracked
[submodule "helm-lsp"]
	path = lib/helm-lsp
	url = git@github.com:emacs-lsp/helm-lsp.git
	ignore = untracked
[submodule "helm-projectile"]
	path = lib/helm-projectile
	url = git@github.com:bbatsov/helm-projectile.git
	ignore = untracked
[submodule "ht"]
	path = lib/ht
	url = git@github.com:Wilfred/ht.el.git
	ignore = untracked
[submodule "hydra"]
	path = lib/hydra
	url = git@github.com:abo-abo/hydra.git
	ignore = untracked
[submodule "inf-ruby"]
	path = lib/inf-ruby
	url = git@github.com:nonsequitur/inf-ruby.git
	ignore = untracked
[submodule "js2-mode"]
	path = lib/js2-mode
	url = git@github.com:mooz/js2-mode.git
	ignore = untracked
[submodule "jump"]
	path = lib/jump
	url = git@github.com:eschulte/jump.el.git
	ignore = untracked
[submodule "leaf"]
	path = lib/leaf
	url = git@github.com:conao3/leaf.el.git
	ignore = untracked
[submodule "leaf-keywords"]
	path = lib/leaf-keywords
	url = git@github.com:conao3/leaf-keywords.el.git
	ignore = untracked
[submodule "libegit2"]
	path = lib/libegit2
	url = git@github.com:pedz/emacs.git
	ignore = untracked
[submodule "libgit"]
	path = lib/libgit
	url = git@github.com:magit/libegit2.git
	ignore = untracked
[submodule "lsp-docker"]
	path = lib/lsp-docker
	url = git@github.com:emacs-lsp/lsp-docker.git
	ignore = untracked
[submodule "lsp-mode"]
	path = lib/lsp-mode
	url = git@github.com:emacs-lsp/lsp-mode.git
	ignore = untracked
[submodule "lsp-tailwindcss"]
	path = lib/lsp-tailwindcss
	url = git@github.com:merrickluo/lsp-tailwindcss.git
	ignore = untracked
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
	ignore = untracked
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
	ignore = untracked
[submodule "packed"]
	path = lib/packed
	url = git@github.com:emacscollective/packed.git
	ignore = untracked
[submodule "projectile"]
	path = lib/projectile
	url = git@github.com:bbatsov/projectile.git
	ignore = untracked
[submodule "projectile-rails"]
	path = lib/projectile-rails
	url = git@github.com:asok/projectile-rails.git
	ignore = untracked
[submodule "rake"]
	path = lib/rake
	url = git@github.com:asok/rake.git
	ignore = untracked
[submodule "rbenv"]
	path = lib/rbenv
	url = git@github.com:senny/rbenv.el.git
	ignore = untracked
[submodule "rspec-mode"]
	path = lib/rspec-mode
	url = git@github.com:pezra/rspec-mode.git
	ignore = untracked
[submodule "rubocop"]
	path = lib/rubocop
	url = git@github.com:rubocop/rubocop-emacs.git
	ignore = untracked
[submodule "s"]
	path = lib/s
	url = git@github.com:magnars/s.el.git
	ignore = untracked
[submodule "simple-httpd"]
	path = lib/simple-httpd
	url = git@github.com:skeeto/emacs-web-server.git
	ignore = untracked
[submodule "skewer-mode"]
	path = lib/skewer-mode
	url = git@github.com:skeeto/skewer-mode.git
	ignore = untracked
[submodule "spinner"]
	path = lib/spinner
	url = git@github.com:Malabarba/spinner.el.git
	ignore = untracked
[submodule "tablist"]
	path = lib/tablist
	url = git@github.com:politza/tablist.git
	ignore = untracked
[submodule "transient"]
	path = lib/transient
	url = https://github.com/magit/transient
	ignore = untracked
[submodule "typescript-mode"]
	path = lib/typescript-mode
	url = git@github.com:emacs-typescript/typescript.el.git
	ignore = untracked
[submodule "web-mode"]
	path = lib/web-mode
	url = git@github.com:fxbois/web-mode.git
	ignore = untracked
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
	ignore = untracked
[submodule "yaml"]
	path = lib/yaml
	url = git@github.com:zkry/yaml.el.git
	ignore = untracked
[submodule "yaml-mode"]
	path = lib/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
	ignore = untracked
[submodule "yari"]
	path = lib/yari
	url = git@github.com:hron/yari.el.git
	ignore = untracked
